  <footer class="page-footer font-small white">
      <div class="footer-copyright text-center py-3">Company © Chilly Bandits. All rights reserved. 
        <a href="#"> Contact Us</a>
      </div>
  </footer>  