{{!-- <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/yell">Yell</a></li>
    <li><a href="/exclaim">Exclaim</a></li>
    <li><a href="/echo/Hello">Echo: Hello</a></li>
</ul> --}}

<nav class="sidebar" >
    <h2>ClassVue</h2>
    <ul class="links">
        <li class="active"><a href="/studenthub"><span>H</span><span>OME</span></a></li>
        <li><a href="/schedule"><span>S</span><span>CHEDULE</span></a></li>
        <li><a href="/majors"><span>M</span><span>AJORS</span></a></li>
        <li><a href="/contact"><span>C</span><span>ONTACT</span></a></li>
        <li><a href="/about"><span>A</span><span>BOUT</span></a></li>
    </ul>
</nav>
