<html>
    <body>
           {{nav}}
        <div class="about">
            <div class="About-info">
                <h1>About Us</h1>
                <div class="section"></div>
                    <div class="row">
                        <div class="col">
                            <div class="aboutUs">
                                <p>Lorem ipsum dolor sit amet consectetur 
                                    adipisicing elit. Est, voluptatibus labore. 
                                    Facere illo dicta neque distinctio aperiam 
                                    deleniti cupiditate porro blanditiis maxime?
                                    Nemo quae quam maiores unde maxime molestias
                                    quibusdam.</p>
                    
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p> Company © Chilly Bandits. All rights reserved. </p>
        </div>
    </body>
</html>