<html>
<body>
    {{>nav}}

        <div class="header">
            <h1 id="title">Contact us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit omnis, hic dignissimos quisquam suscipit repellendus
                adipisci magnam magni voluptas aspernatur repellat dolorum 
                fugiat, iure nemo saepe quos beatae nesciunt necessitatibus.

            </p>
        </div>
        <div class="form">
            <form>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <input id="message" type="text" placeholder="Message">
            </form>
            <button type="submit" >Ok</button>
        </div>
    </body>
    <div class="footer">
            <p> Company © Chilly Bandits. All rights reserved. </p>
        </div>
</html>