 {{>nav}}

<div class="header">
    <h1 id="title">Contact us</h1>
    <p>If you have any questions or concerns, please let us know!

    </p>
</div>
<div class="form">
    <form>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <input id="message" type="text" placeholder="Message">
    </form>
    <button type="submit" >Ok</button>
   <br><br>
    {{>footer}}
</div>
