<header>
{{!-- <body> --}}
  <div class="welcome">
    <h1>Welcome To ClassVue</h1>
    <p> 
    Welcome to the registrar for Wu-Tang University! Sign up to select your school, major, and classes. Login to change your school, major, and classes or see your current calendar.
    </p>
  </div>
  <div class="logInbox">
    <img src="images/icon.png" class="avatar">
    <h1>ClassVue</h1>
    
    <form class="login-form">
      <p>Email</p>
      <input type="text" name="" placeholder="Email" id="loginEmail">

      <p>Password</p>
      <input type="password" name="" placeholder="Enter Password" id="loginPassword">

      <input id="loginBtn" value="Login" type="submit"><a href="./studenthub.handlebars"></a></input>

      <p class="message">Not Registered?<a href="#"> Signup</a></p>
    </form>
    <form class="register-form">
    <input type="text" placeholder="Name" id="signupName" />
    <input type="text" placeholder="Email" id="signupEmail" />
    <input type="text" placeholder="New Password" id="signupPassword" />
    <input class="SignBtn" value="Sign-Up" id="signupBtn" type="submit"><a href="./majors.handlebars"></a></input>

    <p class="message">Already have an account?<a href="#"> Login</a></p>
    </form>
  </div>
  <footer>
    <div class="footer">
      <p> Company © Chilly Bandits. All rights reserved. </p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
{{!-- </body> --}}
</header>
