<header>
  <div class="welcome">
    <h1>Welcome To ClassVue</h1>

    <p> 
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Magni tenetur cum ab natus officia fuga quae asperiores 
      accusantium alias necessitatibus, veniam totam at sunt 
      reiciendis aperiam cumque, minima odio quod.
    </p>
      
    <div class="button">
        <a href="http://localhost:3000/signin" class="btn btn">Let's Get Started</a> 
    </div>
  </div>
</header>