<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="schools.css">
  <style>
    body{
      background-image: url("wood.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  </head>
  <body>
    <header>

      <div class="container">
          <h2>The Shaolin Business School</h2>
        <div class="btn-group">                          
          <div class="dropdown">
            <button type="button" class="btn btn-danger btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">School of Business
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Finanace</a></li>
              <li><a class="dropdown-item" href="#">Accounting</a></li>
              <li><a class="dropdown-item" href="#">Global Economics</a></li>
            </ul>
          </div>
          <label class="checkbox-inline"><input type="checkbox" value="">Financial Accounting</label>
          <label class="checkbox-inline"><input type="checkbox" value="">College Mathematics</label>
          <label class="checkbox-inline"><input type="checkbox" value="">Eonomics 101</label>
          <label class="checkbox-inline"><input type="checkbox" value="">Financial Reporting</label>
          <label class="checkbox-inline"><input type="checkbox" value="">Investment Management</label>
        <div>
          <button type="submit" class="registerbtn">Register</button>
        </div>
         
        </div>
    </header>
  </body>
</html> 