
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
          <input type="checkbox">
        Financial Accounting        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      This course is an introduction to the 
      basic concepts and standards underlying financial accounting systems.
      Several important concepts will be studied in detail, including: revenue
        recognition, inventory, long-lived assets, present value, and long term 
        liabilities. The course emphasizes the construction of the basic financial 
        accounting statements - the income statement, balance sheet, and cash flow 
        statement - as well as their interpretation.
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> 
          <input type="checkbox">
        College Mathematics
         </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      Topics include basic algebra, linear equations, quadratic equations, functions and graphs,
      inequalities, logarithms and exponential functions, mathematics of finance, linear programming, matrices, systems 
      of linear equations, and applications to management, economics, and business.      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"> 
          <input type="checkbox">
          Economics 101
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      A one-semester, non-technical course designed to answer questions about the economy.
      How and why does our market economic system work? Why is there inflation and/or unemployment and what are 
      their remedies? How does the government influence your future economic well-being? Where are we on the business
        cycle? What are the causes and consequences of our growing national debt? What is the Federal Reserve and how does
        its monetary policy affect you and the interest rate? How is the emerging global interdependence of countries changing 
        our economy and your life? This course will help you understand the economic environment in which you live, work, and vote.
          This course is not recommended as a Social Science Elective for students enrolled in A.S. programs in Business Administration 
          or International Business.    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"> 
          <input type="checkbox">
          Investment Management
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Students enrolled in the course will 
        utilize extremely large data sets for the prediction of forecasts. 
        Students will use commercial software (e.g., Bloomberg) to data mine and
        analyze simulated portfolios. In addition, students will learn various
          quantitative methods that can be used to solve financial problems. Arbitrage
          pricing of financial assets, pricing of stock options, risk assessment,
            and portfolio decisions are studied in continuous and discrete time.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive"> 
          <input type="checkbox">
          Financial Reporting
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        The course integrates key concepts from accounting,
        finance, economics, and business strategy and applies them to financial 
        decision-making. You should leave the course with the ability to be able
          to read a set of financial statements and interpret financial ratios.
          The class is case-oriented.
      </div>
    </div>
  </div>  
</div>
{{!-- <div class="panel-group" id="accordion">
<div class="panel panel-light">
  <div  class="panel-heading">
    <h3 class="panel-title" data-target="#panel-1" data-toggle="collapse">
      <input type="checkbox">
      Financial Accounting
    </h3>
  </div>
  <div class="panel collapse" id="panel-1">
    <div class="panel-body">
     <p>This course is an introduction to the 
      basic concepts and standards underlying financial accounting systems.
      Several important concepts will be studied in detail, including: revenue
        recognition, inventory, long-lived assets, present value, and long term 
        liabilities. The course emphasizes the construction of the basic financial 
        accounting statements - the income statement, balance sheet, and cash flow 
        statement - as well as their interpretation. </p>
    </div>
  </div>
</div>
  <div class="panel panel-light">
    <div class="panel-heading">
      <h3 class="panel-title" data-target="#panel-2" data-toggle="collapse">
      <input type="checkbox">
      Financial Accounting

      </h3>
    </div>
    <div class="panel collapse" id="panel-2">
      <div class="panel-body">
      <p>This course is an introduction to the 
        basic concepts and standards underlying financial accounting systems.
        Several important concepts will be studied in detail, including: revenue
          recognition, inventory, long-lived assets, present value, and long term 
          liabilities. The course emphasizes the construction of the basic financial 
          accounting statements - the income statement, balance sheet, and cash flow 
          statement - as well as their interpretation. </p>
      </div>
    </div>
  </div>
  <div class="panel panel-light">
    <div class="panel-heading">
      <h3 class="panel-title" data-target="#panel-3" data-toggle="collapse">
        <input type="checkbox">
        Financial Accounting
      </h3>
    </div>
    <div class="panel collapse" id="panel-3">
      <div class="panel-body">
      <p>This course is an introduction to the 
        basic concepts and standards underlying financial accounting systems.
        Several important concepts will be studied in detail, including: revenue
          recognition, inventory, long-lived assets, present value, and long term 
          liabilities. The course emphasizes the construction of the basic financial 
          accounting statements - the income statement, balance sheet, and cash flow 
          statement - as well as their interpretation. </p>
      </div>
    </div>
  </div>
  <div class="panel panel-light">
    <div class="panel-heading">
      <h3 class="panel-title" data-target="#panel-4" data-toggle="collapse">
        <input type="checkbox">
        Financial Accounting
      </h3>
    </div>
    <div class="panel collapse" id="panel-4">
      <div class="panel-body">
      <p>This course is an introduction to the 
        basic concepts and standards underlying financial accounting systems.
        Several important concepts will be studied in detail, including: revenue
          recognition, inventory, long-lived assets, present value, and long term 
          liabilities. The course emphasizes the construction of the basic financial 
          accounting statements - the income statement, balance sheet, and cash flow 
          statement - as well as their interpretation. </p>
      </div>
    </div>
  </div>
  <div class="panel panel-light">
    <div class="panel-heading">
      <h3 class="panel-title" data-target="#panel-5" data-toggle="collapse">
        <input type="checkbox">
        Financial Accounting
      </h3>
    </div>
    <div class="panel collapse" id="panel-5">
      <div class="panel-body">
      <p>This course is an introduction to the 
        basic concepts and standards underlying financial accounting systems.
        Several important concepts will be studied in detail, including: revenue
          recognition, inventory, long-lived assets, present value, and long term 
          liabilities. The course emphasizes the construction of the basic financial 
          accounting statements - the income statement, balance sheet, and cash flow 
          statement - as well as their interpretation. </p>
      </div>
    </div>
  </div>
  <br>
  <input class="btn btn-outline-light" type="submit" value="Submit">
</div> --}}
{{>footer}}