
  {{!--  --}}


<div class="middle">
<div class="menu">
  <li class="item" id="card-1">
   <a class="btn" href="#card-1"><input type="checkbox">Financial Accounting</a>
   <div class="paragraph">
     <p>This course is an introduction to the 
      basic concepts and standards underlying financial accounting systems.
      Several important concepts will be studied in detail, including: revenue
        recognition, inventory, long-lived assets, present value, and long term 
        liabilities. The course emphasizes the construction of the basic financial 
        accounting statements - the income statement, balance sheet, and cash flow 
        statement - as well as their interpretation.

     </p>
   </div>
  </li>
  <li class="item" id="card-2">
  <a class="btn" href="#card-2"><input type="checkbox">College Mathematics</a>
  <div class="paragraph">
    <p> Topics include basic algebra, linear equations, quadratic equations, functions and graphs,
      inequalities, logarithms and exponential functions, mathematics of finance, linear programming, matrices, systems 
      of linear equations, and applications to management, economics, and business.
       
    </p>
  </div>
  </li>

  <li class="item" id="card-3">
  <a class="btn" href="#card-3"><input type="checkbox">Economics 101</a>
  <div class="paragraph">
    <p> A one-semester, non-technical course designed to answer questions about the economy.
      How and why does our market economic system work? Why is there inflation and/or unemployment and what are 
      their remedies? How does the government influence your future economic well-being? Where are we on the business
        cycle? What are the causes and consequences of our growing national debt? What is the Federal Reserve and how does
        its monetary policy affect you and the interest rate? How is the emerging global interdependence of countries changing 
        our economy and your life? This course will help you understand the economic environment in which you live, work, and vote.
          This course is not recommended as a Social Science Elective for students enrolled in A.S. programs in Business Administration 
          or International Business. 
       
    </p>
  </div>
  </li>

  <li class="item" id="card-4">
  <a class="btn" href="#card-4"><input type="checkbox">Investment Management</a>
  <div class="paragraph">
    <p>Students enrolled in the course will 
    utilize extremely large data sets for the prediction of forecasts. 
    Students will use commercial software (e.g., Bloomberg) to data mine and
    analyze simulated portfolios. In addition, students will learn various
      quantitative methods that can be used to solve financial problems. Arbitrage
      pricing of financial assets, pricing of stock options, risk assessment,
        and portfolio decisions are studied in continuous and discrete time.</p>
  </div>
  </li>

  <li class="item" id="card-5">
  <a class="btn" href="#card-5"><input type="checkbox">Financial Reporting</a>
  <div class="paragraph">
      <p> The course integrates key concepts from accounting,
    finance, economics, and business strategy and applies them to financial 
    decision-making. You should leave the course with the ability to be able
      to read a set of financial statements and interpret financial ratios.
      The class is case-oriented. </p>
       
  </div>
  </li>
</div>
  <input class="btn btn-outline-light" type="submit" value="Submit">
</div>