<html>
{{>nav}}

<body>
<div class="schedule">
  <h1>Welcome to Your ClassVue Schedule Page</h1>
  <p class="intro">Check your schedule for the classes you've signed up for the semester.</p>
</div> 
<br>
<br>
<br>
<div style="overflow-x:auto;">
<div class="container table-responsive">  
    <h2 class="sched">Your Class Schedule</h2>         
    <table class="table">
      <thead class="labels">
        <tr>
          <th>Class</th>
          <th>Location</th>
          <th>Time</th>
          <th>Credits</th>
        </tr>
      </thead>
      <tbody class="info">
        <tr>
          <td>Accounting 101</td>
          <td>SI 202</td>
          <td>Monday 8am - 10am</td>
          <td>3</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      </tbody>
    </table>
</div>
</div>

{{>footer}}
</body>