<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>Continue Your Education</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="assets/css/vendor/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="schools.css">
  <link rel="icon" href="https://static.thenounproject.com/png/2402-200.png">
</head>


<body>
  <div id="header"></div>
  <section class="styles-pizza white-text pad">
    <div class="container text-center">
      <h1>Choose Your Wu-School</h1>
    </div>
  </section>

  <div class="container white-text">
    <div class="row">
        <div class="col-3 mb-5">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home"
              role="tab" aria-controls="home">Shaolin School of Business</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
              role="tab" aria-controls="profile">The RZA School of Education</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages"
              role="tab" aria-controls="messages">Ghostface School of Killah Art</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings"
              role="tab" aria-controls="settings">The 36 Chambers School of Law</a>
            <a class="list-group-item list-group-item-action" id="list-engineering-list" data-toggle="list" href="#list-engineering"
              role="tab" aria-controls="engineering">The GZA College of Engineering</a>
          </div>
        </div>

        <div class="col-7 mb-5 mt-0 box-bg">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
              <p>
                The Shaolin School of Business is a global leader in management education, renowned for its distinctive thought leadership and pioneering approach to learning. 
                Shaolin offers an innovative portfolio of programs: four Full-Time undergraduate programs including leading one-year program and joint degree programs with the engineering, law and medical schools; a Part-Time MBA Program;
                <br>
                <br>
                Check out some of our majors below:
              </p>
              <br>
              <ul>
                  <li><a href="#finanace">Finance</a></li>
                  <li><a href="#accounting">Accounting</a></li>
                  <li><a href="#global">Global Economics</a></li>
              </ul>
            </div>

            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              <p>
                  This bachelor's degree program builds on the foundations of early childhood development best practices while also preparing you to become a leader in the early childhood field. 
                  Graduates can pursue opportunities in many different arenas, from operating or owning their own early childhood program to managing an early childhood agency or organization.
                  <br>
                  <br>
                  A sampling of our majors below:
              </p>
              <br>
              <ul>
                  <li><a href="#finanace">Elementary Education</a></li>
                  <li><a href="#accounting">Community Counseling</a></li>
                  <li><a href="#global">Special Education</a></li>
              </ul>
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
              <p>
                  Ghostface School Killah of Art is a school located in Staten Island that is well-known for its research-intensive programs in architecture and design. 
                  Ghostface School consistently ranks as one of the best art colleges in the US. The school prides itself on teaching practical skills and encouraging their budding artists’ visions.
                  <br>
                  <br>
                  A sampling of our majors below:
              </p>
              <br>
              <ul>
                  <li><a href="#finanace">Art History</a></li>
                  <li><a href="#accounting">Performing Arts</a></li>
                  <li><a href="#global">Fine Art</a></li>
              </ul>
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
              <p>
                  At this highly ranked law school, grades no longer exist. 
                  In fact, students do not earn any grades at all during their first term at Yale Law School; afterwards, they are graded only by honors, credit or failure. 
                  Class sizes are small, often with less than 15 students. 
                  <br>
                  <br>
                  A sampling of our majors below:
              </p>
              <br>
              <ul>
                  <li><a href="#finanace">History of Law</a></li>
                  <li><a href="#accounting">Corporate Law</a></li>
                  <li><a href="#global">Intellectual Property & Technology Law</a></li>
              </ul>
            </div>

            <div class="tab-pane fade" id="list-engineering" role="tabpanel" aria-labelledby="list-engineering-list">
              <p>
                  The College of Engineering has about 40 research centers and institutes where students can get involved.
                  Students at the GZA College of Engineering can complete an advanced degree in eight areas, including Industrial Engineering & Operations Research and Applied Science & Technology.
                  <br>
                  <br>
                  A sampling of our majors below:
              </p>
              <br>
              <ul>
                  <li><a href="#finanace">Computer Science</a></li>
                  <li><a href="#accounting">Bio-Medical Engineering</a></li>
                  <li><a href="#global">Electrical Engineering</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="spacing2"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="assets/javascript/vendor/jquery.magnific-popup.min.js"></script>