<header>
  <div class="navbar">
    <a href="#home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">School of Business 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Finance</a>
        <a href="#">Accounting</a>
        <a href="#">Global Economics</a>
    <div class="dropdown">
      <button class="dropbtn">School of Education 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Elementary Education</a>
        <a href="#">Community Counseling</a>
        <a href="#">Special Education</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">School of Engineering 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Computer Science</a>
        <a href="#">Bio-Medical Engineering</a>
        <a href="#">Electric Engineering</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">School of Art 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Art History</a>
        <a href="#">Performing Arts</a>
        <a href="#">Fine Art</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">School of Law 
        <i class="fa fa-caret-down"></i>
      </button>
    <div class="dropdown-content">
        <a href="#">History of Law</a>
        <a href="#">Corporate Law</a>
        <a href="#">Intellectual Proprety and Tech Law</a>
      </div>
    </div>    
  </div>
</header>