<header>
  <div class="logInbox">
    <img src="images/icon.png" class="avatar">
    <h1>ClassVue</h1>
    <form class="login-form">
      <p>Username</p>
      <input type="text" name="" placeholder="Enter Username">
      <p>Password</p>
      <input type="password" name="" placeholder="Enter Password">
      <input value="Login" type="submit"><a href="/home.html"></input>

      <p class="message">Not Registered?<a href="#">Login</a></p>
    </form>
    <form class="register-form">
      <input type="text" placeholder="New Username" />
      <input type="text" placeholder="New Password" />
      <input type="text" placeholder="Email" />
      <input href="home.html" type="button" name="" value="Sign Up" />

      <p class="message">Already have an account?<a href="#">SignUp</a></p>
    </form>
  </div>
</header>