<html>
{{>nav}}

<body>
    <h1 id="welcome">Welcome to your Student Hub!</h1>
    <div class="content">

        <div class="infos">
            <div class="stuff">
                <div class="info">
                    <i class="fas fa-chalkboard"></i>
                    <h2>Schedule</h2>

                    <p> Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Nisi a nihil corporis dolorem ut iste id omnis
                        blanditiis amet assumenda, velit quas. Et provident,
                        hic laudantium ad exercitationem voluptatibus quis.Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Nisi a nihil corporis dolorem ut iste id omnis
                        blanditiis amet assumenda, velit quas. Et provident,
                        hic laudantium ad exercitationem voluptatibus quis.</p>
                </div>
            </div>
        </div>
        <div class="infos">
            <div class="stuff">
                <div class="info">
                    <i class="fas fa-child"></i>
                    <h2>School Activities</h2>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Nisi a nihil corporis dolorem ut iste id omnis
                        blanditiis amet assumenda, velit quas. Et provident,
                        hic laudantium ad exercitationem voluptatibus quis.</p>
                </div>
            </div>
        </div>
        <div class="infos">
            <div class="stuff">
                <div class="info">
                    <i class="fas fa-graduation-cap"></i>
                    <h2>GPA</h2>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Nisi a nihil corporis dolorem ut iste id omnis
                        blanditiis amet assumenda, velit quas. Et provident,
                        hic laudantium ad exercitationem voluptatibus quis.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{{>footer}}
</body>

</html>