
{{>nav}}
    <h1 id="welcome">Welcome to your Student Hub {{{ studentName }}}!</h1>
    <div class="content">

        <div class="infos">
            <div class="stuff">
                <div class="info">
                    <i class="fas fa-chalkboard"></i>
                    <h2>Schedule</h2>

                    <p> Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Nisi a nihil corporis dolorem ut iste id omnis
                        blanditiis amet assumenda, velit quas. Et provident,
                        hic laudantium ad exercitationem voluptatibus quis.Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Nisi a nihil corporis dolorem ut iste id omnis
                        blanditiis amet assumenda, velit quas. Et provident,
                        hic laudantium ad exercitationem voluptatibus quis.</p>
                    <input class="btn btn-outline-light scheduleBtn" type="submit" value="Lets go" href="/schedule">
                </div>
            </div>
        </div>
        <div class="infos">
            <div class="stuff">
                <div class="info">
                    <i class="fas fa-child"></i>
                    <h2>School Activities</h2>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Nisi a nihil corporis dolorem ut iste id omnis
                        blanditiis amet assumenda, velit quas. Et provident,
                        hic laudantium ad exercitationem voluptatibus quis.</p>
                </div>
            </div>
        </div>
        <div class="infos">
            <div class="stuff">
                <div class="info">
                    <i class="fas fa-graduation-cap"></i>
                    <h2>Current GPA</h2>
                    <p id="gpa"> 3.5</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{{>footer}}

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="/js/studenthub.js"></script>