.list-group-item {
  line-height: 2.5;
}

/* Yagmur's formatting for the home page */
*
{
  margin: 0 ;
  padding: 0 ;
}

body {
  margin: 0 ;
  padding: 0 ;
  font-family: "PT Sans Narrow", sans-serif;
  background-image: url(../images/wood.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: .85;
}

.row {
  max-width:1200px ;
  margin: auto;
}

.welcome {
  position: absolute;
  width: 1200px;
  margin-left: 0px;
  margin-top: 0px;
}

.welcome h1 {
  color: black;
  font-size: 70px;
  text-align: center;
  margin-left: 700px;
  margin-top:100px;
}

.welcome p {
  color:black;
  font-size: 20px;
  text-align: center;
  margin-left: 600px;
  margin-top: 50px;
}

.logInbox {
  float: left;
  margin-top: 350px;
  margin-left: 300px;
  width: 320px;
  height: 420px;
  background: black;
  color:whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.signin {
  color: white;
}   

.avatar h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.logInbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.logInbox input {
  width: 100%;
  margin-bottom: 20px;
}

.logInbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.logInbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: orange;
  font-size: 18px;    
}

.register-form {
  display: none;
}

.name {
  margin-top: 60px;
  font-family: "PT Sans Narrow", sans-serif;
  color: black;
  font-size: 70px;
  text-align: center;
}

.main-nav {
  float: right;
  list-style: none ;
  margin-top: 30px;
}

.main-nav li {
  display: inline;
}

.main-nav li a {
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
        
.main-nav li a:hover {
  border: 1px solid black;
}
    

/* Styling for Schedule page */
/*  */
.schedule {
  color:black;
  font-size:70px;
  text-align:center;
  font-family: "PT Sans Narrow", sans-serif;
}
  
.intro {
  color:black;
  font-size:30px;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
}
  
.sched {
  color:black;
  font-family: "PT Sans Narrow", sans-serif;
  margin-left:137px;
}
  
.table, tr, td {
  font-family: "PT Sans Narrow", sans-serif;
  border-collapse:collapse;
  border: 1px solid white;
}
  
.table {
  width:75%;
  border-radius: 5px;
  margin: 0px auto;
  float: none;
}
  
.table tr:nth-child(even) {background-color:clear}
.table tr:hover {background-color:darkgreen}
  
.labels {
  font-style:bold;
  font-size:30px;
  color:black;
  text-align:center;
}
  
.info {
  color:black;
  font-style: bold;
  font-weight:700;
  font-size:20px;
  text-align:center;
}
  
.page-footer {      
  color: white;
  text-align: center;
  font-size: 15px;
  margin-top: 220px;
  font-family: "PT Sans Narrow", sans-serif;
}